
   <ul id="navigation">	
	      <li id="current-top-nav"><a href="index.html">Home</a></li> 
	      <li><a href="about.html">About</a></li> 
	      <li><a href="services.html">Services</a></li> 
	      <li><a href="our-work.html">Our Work</a></li> 
	      <li><a href="blog.html">Blog</a></li> 
	      <li><a href="full-width.html">Full Width</a></li>                    
	      <li><a class="emphasis" href="contact.html">Contact</a></li>
      </ul><!-- ul#navigation -->
