<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=page.title.match(/Artha42 Technology Solutions$/) ? page.title : "#{page.title} - Artha42 Technology Solutions" %></title>

<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus molestie magna quis aliquam. Sed gravida nulla massa. Fusce in rutrum tortor. In hac habitasse platea dictumst. Morbi et congue odio. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam sollicitudin mi vitae massa suscipit feugiat." />
    
    <!-- CSS --> 
    <link href="skins/active/css/reset.css" rel="stylesheet" type="text/css" /> 
    <link href="skins/active/css/general.css" rel="stylesheet" type="text/css" />
    <link href="skins/active/css/css3.css" rel="stylesheet" type="text/css" />
    
    <!--[if IE 7]>
    <link href="skins/active/css/ie/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    <!--[if lt IE 7]>
    <link href="skins/active/css/ie/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
        
    <!-- Javascript -->
    <script src="scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script type="text/javascript"> var curvyCornersVerbose = false; </script>
	<script src="scripts/curvycorners.js" type="text/javascript"></script>
    <script src="scripts/cascade.js" type="text/javascript"></script>
    
</head>

<body class="frontpage">

	<div id="header_wrapper">
    <div id="header">
            
                
             <h1 id="logo"><a href="index.html"><span>Radial Interactive Theme</span></a></h1><!-- h1#logo -->

	     <%=erb :nav %>       
       
      <div class="clear"></div><!-- div.clear -->      
     </div><!-- div#header -->
     </div><!-- div#header_wrapper -->

    <div id="body_wrapper">
    <div id="container">

        
        <div id="splash_area">
        
        <div id="search-holder" class="rounded-onlybottom">
                
                    <ul id="social-media-icons">
                    
                    	<li id="twitter"><a href="http://www.twitter.com"><span>Twitter</span></a></li>
                        <li id="rss"><a href="#"><span>RSS</span></a></li>
                        <li id="facebook"><a href="#"><span>Facebook</span></a></li>
                    </ul><!-- ul#social-media-icons -->
                    
                    <form id="site-search" action="#" method="post">
                    
                        <fieldset>
                        <input type="text" value="Search..." />
                        <input type="image" name="submit" src="skins/active/images/header/search-submit-flat.png" class="site-search-submit" />
                        </fieldset>
                    
                    </form><!-- form#site-search --> 
                                
         </div><!-- div#search-holder -->
                    
                    
                    <div id="slider_container">                    
                   
                        <div id="panel_1" class="panel"><a href="our-work-single.html"><img src="skins/active/images/splash_area/samplepanel1.jpg" alt="Sample Panel 1" /></a></div>
                       <div id="panel_2" class="panel"><img src="skins/active/images/splash_area/samplepanel2.jpg" alt="Sample Panel 2" /></div>
                   	   <div id="panel_3" class="panel"><img src="skins/active/images/splash_area/samplepanel3.jpg" alt="Sample Panel 3" /></div>
                        <div id="panel_4" class="panel"><img src="skins/active/images/splash_area/samplepanel4.jpg" alt="Sample Panel 4" /></div>    
   
   		   <a href="#" class="slider-nav slider-left"><img src="skins/active/images/splash_area/left_arrow-flat.png" alt="Slide Left" /></a>
           <a href="#" class="slider-nav slider-right"><img src="skins/active/images/splash_area/right_arrow-flat.png" alt="Slide Right" /></a>
                    
                    </div><!-- div#slider_container -->
                    
                    <div id="splash_area_blurb">                   
                    <img id="blurb-text" src="skins/active/images/splash_area/blurb-flat.png" alt="Let's build something amazing. Get Started Today" />
                    <a href="services.html"><img id="button" src="skins/active/images/splash_area/learn-more-flat.png" alt="Learn More" /></a>                    </div><!-- div#splash_area_blurb -->
                    
                     
        
        </div><!-- div#splash_area -->
        <ul id="frontpage_boxes">
       
            <li class="left services-list">
                    <div class="content">
                      <div class="content-col float-left">
                      
                            <a href="#">Website Design, Development &amp; Integration</a>
                            <br />  
                            <a href="#">Interactive Brand Marketing</a>
                            <br />
                            <a href="#">Content Management Solutions</a>
                    
                        </div><!-- div.content-col -->
                   
                        <div class="content-col col-right float-right">
                            <a href="#">Social Media Campaign Management</a>
                            <br />
                            <a href="#">Application Programming</a>
                            <br /> 
                            <a href="#">Search Engine Marketing &amp; Optimization</a>
                            
                        </div><!-- div.content-col -->
                    
                    
                    </div><!-- div.content -->
            
               <div class="titlebox"><span><a href="#">Services >></a></span></div><!-- div.titlebox -->
            </li><!-- li.left -->
            
            <li class="middle">
            
                   <div class="content">
                        <div class="align-center"><a href="#"><img src="skins/active/images/frontpage_boxes/sample_logo_zorelli-flat.png" alt="Sample Logo 1" width="153" height="27" /></a></div>
                        <br />
                          <div class="align-center"><a href="#"><img src="skins/active/images/frontpage_boxes/sample_logo_luckys-flat.png" alt="Sample Logo 2" width="145" height="49" /></a></div>
                          <br />
                          <div class="align-center"><a href="#"><img src="skins/active/images/frontpage_boxes/sample_logo_enterprise_solutions-flat.png" alt="Sample Logo 3" width="179" height="23" /></a></div>
                                        
              	 	</div><!-- div.content -->
            	
                <div class="titlebox"><span><a href="#">Clients >></a></span></div><!-- div.titlebox -->
            </li><!-- li.middle -->
            
            <li class="right">
            
                  <div class="content">&quot;From the moment we signed on with Radial Interactive, we were met with genuine professionalism. The attention to detail was unprecendented. They took our original vision and improved it tenfold. Our web presence has	been	completely transformed.&quot; <br /><br />
                        
                       <div class="align-right testimonial-attr">Peter Arthur<br /> EnterpriseSolutions<br /></div>
                       
                          
                  </div><!-- div.content -->
            
            	<div class="titlebox"><span><a href="#">Testimonials >></a></span></div><!-- div.titlebox -->
            
            </li><!-- li.right --> 
        
        </ul><!-- div#frontpage_boxes -->
        
        <div id="frontpage-left-content">
        
        		<div id="blurb-title">
            
					<h2 class="blue">Who we are...</h2>
                    
                </div><!-- div#blurb-title -->
                
                <div id="blurb-body">
                
                <p><span class="theme-color bold">RADIAL</span> interactive is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum </p>

                </div><!-- div#blurb-body -->
     
         <div id="news-blog-entries-title">
         
         	<h2 class="blue">What we're saying...</h2>
         
         </div><!-- news-blog-entries-title -->
         
         <ul id="news-blog-entries">
         
             <li class="left">
                 <div class="blog-entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a> </div><!-- div.blog-entry-title -->
                 <div class="blog-entry-body">
                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
                 <p><a href="#">Read More >>></a></p>
                 </div><!-- div.blog-entry-body --> 
             </li>
             
             <li class="middle">
                 <div class="blog-entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a> </div><!-- div.blog-entry-title -->
                 <div class="blog-entry-body">
                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
                 <p><a href="#">Read More >>></a></p>
                 </div><!-- div.blog-entry-body --> 
             </li>
             
             <li class="right">
                <div class="blog-entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a> </div><!-- div.blog-entry-title -->
                <div class="blog-entry-body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
                 <p><a href="#">Read More >>></a></p>
                 
                </div><!-- div.blog-entry-body -->              
             </li>
         
         </ul><!-- ul#news-blog-entries -->
       
        </div><!-- div#frontpage-left-content -->
       
        <h2 class="contact-us blue">Contact Us...</h2>
        <div id="frontpage-contact-form" class="rounded">
        
        <form method="post" action="#">
		<fieldset>
        
        

			<label for="Name">Name:</label>
		    <input type="text" id="Name" name="Name" class="styled"/>


			<label for="Email">Email:</label>
			<input type="text" id="Email" name="Email" class="styled" />
	

			<label for="Message">How Can We Help?:</label>
		    <textarea name="Message" id="Message" rows="10" cols="30"></textarea>
			<br />
			<input type="submit" name="submit" value="Submit" id="submit-button" />		

		</fieldset>
	</form>

        </div><!-- div#frontpage-contact-form -->
        <div class="clear"></div>
        
        <div id="footer" class="rounded">
            <ul id="footer-nav">
                       
                            <li><a href="#">Home</a> // </li> 
                            <li><a href="#">About</a> // </li> 
                            <li><a href="#">Services</a> // </li> 
                            <li><a href="#">Our Work</a> // </li> 
                            <li><a href="#">Blog</a> // </li> 
                            <li><a href="#">Full Width</a> // </li>
                            <li><a href="#">Contact</a></li>     
                                       
                        
            </ul><!-- ul#footer-nav -->
        </div><!-- div#footer -->
    
      <div id="afterfooter">
        
        	<div class="left"> © 2010 Radial Interactive Theme | <a href="#">Privacy Policy</a></div>
            <div class="right"> Tel. 555.555.1212 | 2343 Mt. Rushmore Dr., Keystone, SD 57715 |  <a href="#">Map</a></div>
        
      </div><!-- div#afterfooter -->     
    
    
    </div><!-- div#container -->
    </div><!-- div#body_wrapper -->
    
</body>
</html>
